


<div class="cats-container">
    <button class="cats-button" id="drop-cats" aria-haspopup="true" aria-expanded="false">
        &nbsp;&nbsp;<i class="fas fa-bars">&nbsp;&nbsp;</i>
        Nuestros Productos &nbsp;&nbsp;
        <i class="fas fa-chevron-down">&nbsp;&nbsp;</i>
    </button>

    <div class="dropdown-content" id="cats-dropdown" aria-labelledby="cats-button">

        <div class="dropdown-item">
            <a href="#"> Periféricos </a>
        </div>

        <div class="dropdown-item">
            <a href="#">
                Componentes de PC
                <i class="fas fa-chevron-right px-lg-5">&nbsp;</i>
            </a>
            <!-- Submenú de Componentes de PC -->
            <div class="sub-dropdown-content">
                <a href="#">Item 1</a>

                <a href="#">Item 2</a>

                <a href="#">Item 3</a>
            </div>
        </div>

        <div class="dropdown-item">
            <a href="#">Sillas Gamer</a>
        </div>
    </div>
</div>