

<!-- Drop menu button para dropear menu-->
<button class="btn cats-button" id="drop-cats" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars"></i>
    <span>Nuestros Productos</span>
    <i class="fas fa-chevron-down arrow"></i>
</button>

<ul class="dropdown-menu" id="cats-dropdown" aria-labelledby="drop-cats">
    {% for category, subcategories in categories_dropmenu.items %}
        <li class="dropdown-item">
            <a href="{% url 'Producto_Categoria' category.id %}">
                <div class="container-dropdown-menu-items">
                    <span>{{ category.nombre }}</span>
                    {% if subcategories %}
                        <i class="fas fa-chevron-right"></i>
                    {% endif %}
                </div>
            </a>

            {% if subcategories %}
            <!-- Submenú de Componentes de PC -->
            <ul class="sub-dropdown-content">
                {% for subcategory in subcategories %}
                    <li class="dropdown-item">
                        <a href="{% url 'Producto_Subcategoria' category.id subcategory.id %}">
                            {{ subcategory.nombre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>




