

{% extends "tienda/base.html" %}

{% load static %}

{% block content %}

    <div class="row">

        {% for service in servicios %}

        <div class="col-4 mb-4 mt-5">
            <!-- Tarjeta Sevicio Presentacion -->
            <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
                <div class="card-service d-flex position-relative flex-column">
                    <div class='imgContainer'>
                        <img src="{{service.imagen.url}}">
                    </div>
                    <h2 class="initial-title">{{service.titulo}}</h2>
                    <div class="content">
                        <h2>{{service.titulo}}</h2>
                        <p>{{service.contenido}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>


{% endblock %}