<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>


{{ form.as_p }}
<!-- Fila para Email -->
            <div class="form-group">
                <label for="email">&nbsp;E-mail</label>
                {{ form.email }}
            </div>

            <!-- Fila para Password -->
            <div class="form-group">
                <label for="password">&nbsp;Password</label>
                {{ form.password }}
            </div>

            <!-- Fila para Nombre y Apellido -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">&nbsp;Nombre</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">&nbsp;Apellido</label>
                    {{ form.last_name }}
                </div>
            </div>

            <!-- Fila para Teléfono y Provincia -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">&nbsp;Celular</label>
                    {{ form.phone }}
                </div>
                <div class="form-group col-md-6">
                    <label for="province">&nbsp;Provincia</label>
                    {{ form.province }}
                </div>
            </div>

            <!-- Fila para Dirección -->
            <div class="form-group">
                <label for="address">&nbsp;Dirección</label>
                {{ form.address }}
            </div>


<!-- <button type="submit" class="btn btn-success">
                Registrarse
            </button> -->
</body>
</html>